<% provide(:title, 'Contact') %>
<h1>Contact</h1>
	<p>
	  Contact Ruby on Rails Tutorial about the sample app at the
	  <a href="http://railstutorial.org/contact">contact page</a>.
	</p>
	<p>
		<b>name: </b>Matija	Matija <br>
		<b>email: </b>matija.matija@outlook.com <br>
		<b>skype: </b>matija_matija <br>
	</p>